<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>haglo software</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="excel.css">
  <script src="excel.js"></script>
 



</head>

<body>
  <div class="controller">
    <div class="controller-button">
      <span class="add-item-button">
        <button class="btn btn-lg btn-dark"><a href="/table">Tables</a></button>
         
    </span>
   
    <span class="show-table">
  
      <button class="btn btn-lg btn-dark"><a href="/AddItem">Add Items</a></button>
      
       
    </span>
    <span class="show-table">
  
      <button class="btn btn-lg btn-dark"><a href="/deleteItem">delete Items</a></button>
      
       
    </span>
    <form method="POST" action='/searchItem'>
        <input type="text" placeholder="search">
        <button type="submit">search</button>
      </form>
   

    </div>
    
 
 
  </div>