<%-include("includes/nav.ejs")  %> 
<link rel="stylesheet" href="addItem.css">

  <div class="add-items ">
          
    
        <form  method="POST" action="/deleteItem">
            <label>Name || Phone_Number || Tracker_Number</label><br>
            <input type="text"  name="id"><br><br>
           
            <button>submit</button>

      
        </form>
        
        
    
</div>

<%-include("includes/footer")  %> 